<strong>Olá, {{ user }} </strong>
<p>Inscrição efetuada </p>
<p>
  <strong>Evento: </strong> {{ title }} <br />
  <strong>Descrição: </strong> {{ description }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <p>
    Aguardamos a sua presença.
  </p>
</p>
